* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: antiquewhite;
    font-family: 'Space Grotesk', sans-serif;
    max-width: 1040px;
}
.navbar {
    width: 100%;
    height: 70px;
    box-shadow: 0 3px 2px  rgb(65, 68, 36);
}
.navbar {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu {
    list-style-type: none;
}
.navbar-menu li {
    display: inline-block;
    padding-right: 50px;
    margin-right: 150px;
}
.navbar-menu li a {
    display: inline-block;
    color: black;
    opacity: 0.6;
    text-decoration: none;
    padding: 10px;
    transition: all 0.07s ease-in-out;

    display: flex;
    justify-content: space-between;
    align-items: center;

}