* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: antiquewhite;
    font-family: 'Space Grotesk', sans-serif;
}
.navbar {
    height: 70px;
    box-shadow: 0 3px 2px  rgb(65, 68, 36);
}
.navbar {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu {
    list-style-type: none;
}
.navbar-menu li {
    display: inline-block;
    padding-right: 50px;
    margin-right: 150px;
}
.navbar-menu li a {
    display: inline-block;
    color: black;
    opacity: 0.6;
    text-decoration: none;
    padding: 10px;
    transition: all 0.07s ease-in-out;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar-menu li a:hover {
    opacity: 1;
}
.navbar-wrap {
    display: flex;
    flex-flow: row nowrap;
}
.search {
    margin-left: 30px;
    padding: 10px;
    margin-top: 15px;
    color: black;
    opacity: 0.7;
    margin-right: 20px;
}
.basket {
    margin-right: 20px;
}
a.search:hover {
   color: black;
   transition: all 07s ease-in-out;
}
.navbar-brand {
    font-weight: 700px;
    font-size: 26px;
    text-decoration: none;
    color: black;
    transition: all 0.07s ease-in-out;
}
.navbar-brand:hover {
    color: coral;
}
.row { /* строка */ 
    display: flex; 
    flex-wrap: wrap; 
  } 
  [class^="col"] { 
    padding: 0 10px; 
  } 
  .col-1 { 
    flex: 8.3% 0 0; 
  } 
  .col-2 { 
    flex: 16.6% 0 0; 
  } 
  .col-3 { 
    flex: 25% 0 0; 
  } 
  .col-4 { 
    flex: 33.3% 0 0; 
     
  } 
  .col-5 { 
    flex: 41.6% 0 0; 
  } 
  .col-6 { 
    flex: 50% 0 0; 
  } 
  .col-7 { 
    flex: 58.3% 0 0; 
  } 
  .col-8 { 
    flex: 66.6% 0 0; 
  } 
  .col-9 { 
    flex: 75% 0 0; 
  } 
  .col-10 { 
    flex: 83% 0 0; 
  } 
  .col-11 { 
    flex: 91.6% 0 0; 
  } 
  .col-12 { 
    flex: 100% 0 0; 
}
.col-12.background {
  margin-top: 5px;
}
.col-12 h1 {
  display: flex;
  margin-top: -580px;
  color: white;
  font-size: 90px;
  max-width: 700px;
  font-weight: 100;
}
.button {
  color: black;
  background-color: #FFDB5B;
  border-radius: 100px;
  display: inline-block;
  width: 260px;
  height: 40px;
  padding-left: 25px;
  padding-top: 10px;
  margin-top: 200px;
  margin-left: 60px;
}

.stick {
  background-color: #F1EBE4;
  width: 128px;
  height: 128px;
  border-radius: 128px;
  margin-left: 1180px;
  border: 2px solid black;
  
  
}
.content  {
  font-size: 60;
  margin-top: 100px;
}
.card_products {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-left: 400px;
  margin-top: -265px;
  text-align: center;

}
.card_products img {
  border: 2px solid black;
  margin-right: 25px;


}
.card_products span p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card_products .span1 {
  text-decoration: line-through;
  display: block
}
.product h1 {
  margin-left: 50px;
  font-size: 50px;
  max-width: 200px;
  margin-top: 100px;


}
.sticky {
  width: 1700px;
  height: 2px;
  background-color: black;
}
.product img {
  margin-left: 0px;
}
.product .indicator {
  margin-left: 100px;
}
.see {
  color: black;
  display: flex;
  justify-content: right;
  margin-right: 100px;
  margin: 60px;
}
.rain {
  margin-top: 100px;
  margin-bottom: 100px;
}
.rine {
  margin-top: 100px;
}
.shop {
  font-size: 40;
  color: black;
  text-decoration: none;
  margin-top: 100px;
  margin-left: 50px;

  display: flex;
  justify-content: left;

  
}
.card_image {
  width: 435px;
  height: 274px;
  background-image: url(./flowers.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.card_content {
  padding: 36px 45px 41px 45px;
  background-color: rgb(179, 0, 255);
  font-size: 50;
  width: 435px;
  height: 142px;
  
  display: flex;
  justify-content: center;
}
.card_image.caps {
  background-image: url(./coffee.png);
}
.card_image.plates {
  background-image: url(./rloy.png);
}
.card_picture {
  padding-left: 40px;
}